@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #632EE3;
  --color-secondary: teal ;
}
/* #9F62F2 */

.btn-gradient {
  @apply text-white border-0 bg-gradient-to-r from-[#632EE3] to-[#9F62F2];
}

/* .btn-primary {
  @apply border-0 text-white;
  background: linear-gradient(
    to right,
    #632EE3,
    #9F62F2
  );
} */

.btn-primary:hover {
  background: linear-gradient(
    to right,
    #5524d0,
    #8f50ea
  );
}